@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.8s ease-in;
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  .animate-float-delayed {
    animation: float 3s ease-in-out 1.5s infinite;
  }

  .animate-float-slow {
    animation: float 4s ease-in-out 0.5s infinite;
  }

  .animate-float-slower {
    animation: float 5s ease-in-out 1s infinite;
  }

  .animate-wiggle {
    animation: wiggle 1s ease-in-out infinite;
  }

  .animate-bubble {
    animation: bubble 4s ease-in-out infinite;
  }

  .animate-bubble-delayed {
    animation: bubble 4s ease-in-out 1s infinite;
  }

  .animate-bubble-slow {
    animation: bubble 5s ease-in-out 2s infinite;
  }

  .animate-bubble-slower {
    animation: bubble 6s ease-in-out 3s infinite;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(var(--tw-rotate, 0));
  }
  50% {
    transform: translateY(-10px) rotate(var(--tw-rotate, 0));
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}
